/*

font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --heading: 'Montserrat', sans-serif;
}

body{
    font-family: 'Raleway', sans-serif​,khmerkep;
    text-align: center;
}

.web-name{
    background-color: #0b9649;
  color: rgb(230, 216, 216);
  font-family: 'Audiowide';
  font-size: 20pt;
  text-shadow: 0 4px 5px rgb(19, 18, 18);
  /*float: left;*/
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0 50px 0 50px ;
  box-shadow: 0px 8px 16px 0px;
}


.banner{
    background: #413f3b url("images/bg.jpg");
}


/* header */

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}






.hot-topic{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0px;
    height: 100%;
    display: inline;
}




/****** footer *****/

footer{
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
}






@media(min-width: 768px){
    .banner-sub-content{
        display: inline;
    }
}


@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
        flex: 0 0 15%;
    }

    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

   
}

@media(min-width: 992px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1080px){
    .banner{
        grid-template-columns: 1fr 2fr;
    }
}

@font-face{
    font-family: khmerbokor;
    src: url(font-khmer/Kh-Bokor.ttf);
  }
@font-face{
    font-family: khmerkep;
    src: url(font-khmer/KHMERKEP.ttf);
  }
@font-face{
    font-family: battambang;
    src: url(font-khmer/Kh-Battambang.ttf);
  }